<div class="gallery"></div>


  <style type="text/css" media="screen">
    .gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  </style>

<script>
  $('.gallery.index').ready(function(){
    loadGallery();
  });


function loadGallery() {
  // event.preventDefault();
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/gallery",
    success: function(data){
      if (data.length > 0) {
        for (var i = 0; i < data.length; i++) {
          var image = data[i];
          var imageUrl = image.url
          var imageDiv = $('<div>' + "<img src='/gallery/" + imageUrl + ".png'>" );
          $('.gallery').append(imageDiv);
          console.log(imageDiv);
        }
      } else {
      }
    }
  });
}
</script>