<div class="container">
<div class="gallery-container">
  <ul id="gallery"></ul>
  </div>
</div>
 

<style type="text/css" media="screen">

  ul {
    display:inline-block;
    padding-top: 5vh;
    list-style: none; 
    line-height: 0;
    margin: 0 auto;
    padding-left: 10vw;
  }

  ul li {
    display:inline-block;
    cursor: move;
    float: left;
    padding: 0;
  }


</style>


<script>

  var request = new XMLHttpRequest();
  request.open('GET', '/gallery.json', true);

  request.onload = function() {
    if (request.status >= 200 && request.status < 400) {
      var data = JSON.parse(request.responseText);
      if (data.length > 0) {
        for (var i = 0; i < data.length; i++) {
          var image = data[i];
          var imageUrl = image.url;
          var imageDiv = document.createElement("li");
          imageDiv.className = "imageBox";
          var image = document.createElement('img');
          var draggableAtt = document.createAttribute("draggable");
          draggableAtt.value = "true";
          image.setAttributeNode(draggableAtt);
          var onDragEnterAtt = document.createAttribute("ondragenter");
          onDragEnterAtt.value = "dragenter(event)";
          image.setAttributeNode(onDragEnterAtt);
          var onDragStartAtt = document.createAttribute("ondragstart");
          onDragStartAtt.value = "dragstart(event)";
          image.setAttributeNode(onDragStartAtt);
          image.src = '/gallery/' + imageUrl;
          imageDiv.appendChild(image);
          document.getElementById('gallery').appendChild(imageDiv);
        }
      } 
    } 
  };
// above adapted from http://youmightnotneedjquery.com/#json

  request.send();

  var source;

  function isbefore(a, b) {
    if (a.parentNode == b.parentNode) {
      for (var cur = a; cur; cur = cur.previousSibling) {
        if (cur === b) { 
          return true;
        }
      }
    }
    return false;
  } 

  function dragenter(event) {
    if (isbefore(source, event.target)) {
      event.target.parentNode.insertBefore(source, event.target);
    }
    else {
      event.target.parentNode.insertBefore(source, event.target.nextSibling);
    }
  }

  function dragstart(event) {
    source = event.target;
    event.dataTransfer.effectAllowed = 'move';
  }

  // above adapted from http://stackoverflow.com/questions/10588607/tutorial-for-html5-dragdrop-sortable-list

</script>

