<ul>
    <li draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)"><img src="gallery/1.png" alt=""></li>
    <li draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)"><img src="gallery/2.png" alt=""></li>
    <li draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)"><img src="gallery/3.png" alt=""></li>
    <li draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)"><img src="gallery/4.png" alt=""></li>
</ul>
<script type="text/javascript">
var source;

function isbefore(a, b) {
    if (a.parentNode == b.parentNode) {
        for (var cur = a; cur; cur = cur.previousSibling) {
            if (cur === b) { 
                return true;
            }
        }
    }
    return false;
} 

function dragenter(e) {
    if (isbefore(source, e.target)) {
        e.target.parentNode.insertBefore(source, e.target);
    }
    else {
        e.target.parentNode.insertBefore(source, e.target.nextSibling);
    }
}

function dragstart(e) {
    source = e.target;
    e.dataTransfer.effectAllowed = 'move';
}

</script>